.info-button {
    background-color: #2F80ED;
    color: #fff;

    &:hover {
        background-color: #3276D0;
    }
}

.info-button--active {
    background-color: #1F5EB4;
}

.info-button--disabled {
    background-color: #629CEA;
}